@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  background-color: #0d0d0d;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#gamecontainer{
  text-align: center;
}

input{
  outline: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #3d3d3d;
  border: 2px solid #272727;
  border-radius: 10px;
  height: 4vh;
  text-align: center;
  color: white;
  transition: 0.5s;
  font-size: 20px;
  text-transform: lowercase;
}

.inputss{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input:hover{
  box-shadow: 20px 10px 30px #4d4d4d;
}

#submit{
  margin-left: 1rem;
  width: 9vw;
  height: 4vh;
  margin-bottom: 1rem;
  background-color: #900C3F;
  border: 2px solid #272727;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}
#submit:hover{
  background-color: #900C7F ;
}

.cell{
  width: 75px;
  height: 75px;
  border: 2px solid;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

#cellcontainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
  
}

#player{
  margin-bottom: 1rem;
}

